@import "../../styles/globalstyles.scss";
.navbar{
    background-color: $white;
}
.nav-menu{
    .navbar-nav{
        .nav-item a{
            color: $black;
            cursor: pointer;
            &:hover{
                color: $red;
            }
        }
    }
}

.logo_desktop{
    height: auto;
    width: 150px;
}