.carousel{
    margin: 40px 0px;
}
.banner_image{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 991.98px) {
    .banner_image{
        height: 300px;
        width: 100%;
    }
  }