body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #28282B;
}

.heading_two{
  font-size: 2.5rem;
}

.heading_one{
  font-size: 3.5rem;
}
.heading_four{
  font-weight: 200;
}
.container-body-ai{
    padding-right: 8rem;
    padding-left: 8rem;
    color: #fff;
}

.p_tag_text{
  font-weight: 200;
}

@media (max-width: 991.98px) {
    .container-body-ai{
      padding: 0;
    }
  }